@{
    ViewData["Title"] = "Pencil Case";
}


<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/img/background/pencilcase_bg.png" alt="" data-aos="fade-in" class="">

    <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <div data-aos="fade-up" data-aos-delay="300" class="">
            <a href="https://www.youtube.com/watch?v=E-r_LGcQAlw" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
    </div>

    <div class="about-info mt-auto position-relative">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About The Event</h2>
                    <p>No Gig Updated.</p>
                </div>
                <div class="col-lg-3">
                    <h3>Where</h3>
                    <p>No Gig</p>
                </div>
                <div class="col-lg-3">
                    <h3>When</h3>
                    <p>No Gig<br>Updated</p>
                </div>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->


<!-- About Section -->
<section id="about" class="about section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 align-items-center justify-content-between">

        <div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
        <span class="about-meta">MORE ABOUT US</span>
        <h2 class="about-title">Pencil Case</h2>
        <p class="about-description">Proudly began its journey in 2016 in the city of Caloocan, Philippines. 
                                     A remarkable band of five devoted musicians came together, 
                                     fueled by their deep passion for rock music and a shared vision to 
                                     craft a distinctive sound that genuinely connects with the Filipinos. 🤘</p>

        <div class="info-wrapper">
            <div class="row gy-4">
            <div class="col-lg-5">
                <div class="profile d-flex align-items-center gap-3">
                <img src="~/img/band_people/jm-lead.jpg" alt="CEO Profile" class="profile-image">
                <div>
                    <h4 class="profile-name">John More Capiña</h4>
                    <p class="profile-position">SingerLead Vocalist</p>
                </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact-info d-flex align-items-center gap-2">
                <i class="bi bi-telephone-fill"></i>
                <div>
                    <p class="contact-label">Call us anytime</p>
                    <p class="contact-number">+63 927 325 7676</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
        <div class="image-wrapper">
            <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
            <img src="~/img/band_people/all_members.jpg" alt="Business Meeting" class="img-fluid main-image rounded-4">
            <img src="~/img/band_people/all_members2.jpg" alt="Team Discussion" class="img-fluid small-image rounded-4">
            </div>
            <div class="experience-badge floating">
            <h3><span id="experience-years"></span> <span>Years</span></h3>
            <p>Of experience in the band.</p>
            </div>
        </div>
        </div>
    </div>

    </div>

</section><!-- /About Section -->


<section id="songs">
    <div class="album-cover" data-aos="fade-up" data-aos-delay="300">
        <div class="swiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                src="~/img/logo/pencilcase_logo4.png" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=ofhJzbzFUjE"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon></a>
                </div>
            </div>
            <div class="swiper-slide">
                <img
                src="~/img/music/charot.png" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=KuLzqDYikTs"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon></a>
                </div>
            </div>
            @* <div class="swiper-slide">
                <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/abaa23bd-8c93-4219-a3ef-0d0cb6f12566" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=LgsaD-vNJ9M"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon
                ></a>
                </div>
            </div>
            <div class="swiper-slide">
                <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/bd9bcc80-a9ab-4d54-a460-ffdb77f22a72" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=a5uQMwRMHcs&ab_channel=DaftPunkVEVO"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon
                ></a>
                </div>
            </div>
            <div class="swiper-slide">
                <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/18bc2436-740b-44c4-9dd8-fd7be51a07ad" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=H5v3kku4y6Q&ab_channel=HarryStylesVEVO"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon
                ></a>
                </div>
            </div>
            <div class="swiper-slide">
                <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4c5c1727-8b32-48c1-91de-b0496ccf10f6" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=9HDEHj2yzew&ab_channel=DuaLipa"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon
                ></a>
                </div>
            </div>
            <div class="swiper-slide">
                <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/23e440e5-a0fa-4a85-8175-bcc485a20ee6" />
                <div class="overlay">
                <a
                    href="https://www.youtube.com/watch?v=tCXGJQYZ9JA&ab_channel=TaylorSwiftVEVO"
                    target="_blank"
                    ><ion-icon name="logo-youtube"></ion-icon
                ></a>
                </div>
            </div> *@
            </div>
        </div>
    </div>

    <div class="music-player" data-aos="fade-up" data-aos-delay="300">
        <h1>Title</h1>
        <p>Song Name</p>

        <audio id="song">
            <source src="~/music_list/Pencil Case - Charot (Official Lyric Video).mp3" type="audio/mpeg" />
        </audio>

        <input type="range" value="0" id="progress" />

        <div class="controls">
            <button class="backward">
            <i class="fa-solid fa-backward"></i>
            </button>
            <button class="play-pause-btn">
            <i class="fa-solid fa-play" id="controlIcon"></i>
            </button>
            <button class="forward">
            <i class="fa-solid fa-forward"></i>
            </button>
        </div>
    </div>
</section>


<section id="latest-posts" class="latest-posts section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Latest Posts</h2>
        <div><span>Check Our</span> <span class="description-title">Latest Posts</span></div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Katipunan Avenue</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Tara na at magrakrakan!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Farivew</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Lets G! mga Tropa!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Qeuzon City Circle</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Samaha niyo kami mag saya!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Novaliches</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Tugtugan na may kasamang Walwalan!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Jun 30, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Deparo, Caloocan</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Atin ang Lupang ito!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Jan 30, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
            <article>

                <div class="post-img">
                <img src="~/img/news/pencilcasemusic_news.png" alt="" class="img-fluid">
                </div>

                <p class="post-category">Bagumbong, Caloocan</p>

                <h2 class="title">
                <a asp-action="About" asp-controller="Announcement" target="_blank">Dito ang masikip na daang traffic!</a>
                </h2>

                <div class="d-flex align-items-center">
                <img src="~/img/band_people/jm-lead.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                    <p class="post-author">John More Capiña</p>
                    <p class="post-date">
                    <time datetime="2022-01-01">Feb 14, 2022</time>
                    </p>
                </div>
                </div>

            </article>
            </div><!-- End post list item -->

        </div>
    </div>

    <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="300">
        <button class="btn btn-danger">Check other post</button>
    </div>

</section><!-- /Latest Posts Section -->

<!-- Schedule Section -->
<section id="schedule" class="schedule section light-background">

    <div class="container section-title-2"  data-aos="fade-up" data-aos-delay="300">
        <h2>Schedule</h2>
    </div>

    <div class="container">

        <div class="schedule-tabs" data-aos="fade-up" data-aos-delay="300">
        <ul class="nav nav-pills justify-content-center mb-5">
            <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#schedule-day1">No Latest Gig Updated.</button>
            </li>
        </ul>
        </div>

        <div class="tab-content schedule-content">

        <div class="tab-pane fade show active" id="schedule-day1">

            <div class="schedule-timeline">

            <div class="time-slot" data-aos="fade-up" data-aos-delay="300">
                <div class="time-label">
                <span class="time">No Gig Updated</span>
                @* <span class="duration">45 min</span> *@
                </div>
                <div class="sessions-row">
                <div class="session-card keynote" colspan="3">
                    <div class="session-type">
                    <i class="bi bi-megaphone"></i>
                    <span>No Gig Updated</span>
                    </div>
                    <h4>NEUTRAL GROUND</h4>
                    <div class="vocalist">
                    <img src="~/img/band_people/jm-lead.jpg" alt="Vocalist Lead" class="vocalist-image">
                    <div class="vocalist-details">
                        <h5>John More Capiña</h5>
                        <span>SingerLead Vocalist</span>
                    </div>
                    </div>
                    <p>No Gig Updated.</p>
                    <div class="session-meta">
                    <span class="venue">No Gig Updated</span>
                    </div>
                </div>
                </div>
            </div>

            </div>
        </div>

        </div>

    </div>



    <div class="container">

    <div class="section-title-2" data-aos="fade-up" data-aos-delay="300">
        <h2>Previous Event</h2>
    </div>

        <div class="tab-pane fade show active">

            <div class="schedule-timeline">

            <div class="time-slot" data-aos="fade-up" data-aos-delay="300">
                <div class="time-label">
                <span class="time">July 19, 2025</span>
                <span class="duration">9:00 PM</span>
                </div>
                <div class="sessions-row">
                <div class="session-card break" colspan="3">
                    <div class="session-type">
                    <i class="bi bi-megaphone"></i>
                    <span>Tara G</span>
                    </div>
                    <h4>NEUTRAL GROUND</h4>
                    <div class="vocalist">
                    <img src="~/img/band_people/jm-lead.jpg" alt="Vocalist Lead" class="vocalist-image">
                    <div class="vocalist-details">
                        <h5>John More Capiña</h5>
                        <span>SingerLead Vocalist</span>
                    </div>
                    </div>
                    <p>Google Map/Waze > Neutral Ground - Door Charge : ₱200.00</p>
                    <p>Come and support us!</p>
                    <p>Experience a night of great music, energy, and connection. Bring your friends and be part of something unforgettable. We’d love to see you there!</p>
                    <div class="session-meta">
                    <span class="venue">Neutral Ground - Quezon City</span>
                    </div>
                </div>
                </div>
            </div>

            <div class="time-slot" data-aos="fade-down" data-aos-delay="300">
                <div class="time-label">
                <span class="time">July 12, 2025</span>
                <span class="duration">8:00 PM</span>
                </div>
                <div class="sessions-row">
                <div class="session-card break" colspan="3">
                    <div class="session-type">
                    <i class="bi bi-cup-hot"></i>
                    <span>Tara G</span>
                    </div>
                    <h4>Q&A CAFE & ALFRESCO BAR</h4>
                    <div class="vocalist">
                    <img src="~/img/band_people/jm-lead.jpg" alt="Vocalist Lead" class="vocalist-image">
                    <div class="vocalist-details">
                        <h5>John More Capiña</h5>
                        <span>SingerLead Vocalist</span>
                    </div>
                    </div>
                    <p>Google Map/Waze > Q&A CAFE & ALFRESCO BAR - Door Charge : ₱300.00</p>
                    <p>Come and support us!</p>
                    <p>Experience a night of great music, energy, and connection. Bring your friends and be part of something unforgettable. We’d love to see you there!</p>
                    <div class="session-meta">
                    <span class="venue">909-A Aurora Blvd. Cubao - Quezon City</span>
                    </div>
                </div>
                </div>
            </div>
            

            </div>
        </div>
    </div>

</section><!-- /Schedule Section -->


